footer {
  background-color: #333;
  color: white;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.services, .social-media {
  margin: 0 2em;
}

.social-media a {
  display: block;
  color: white;
  text-decoration: none;
}

.social-media a:hover {
  text-decoration: underline;
}
